<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
    <h3 style="text-align: center;">{{helloWorld}}</h3>
    <div style="text-align:right; padding: 0 20px;">-- elvin</div>
  </ion-content>
</ion-view>
